<form method="POST" action="/login">
    <div>
        <label>Login</label>
        <input name="login" type="text" required id="login" />
    </div>

    <div>
        <label>Senha</label>
        <input name="senha" type="password" required id="password" />
    </div>

    <button>Acessar</button>
</form>