<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main>
        <form action="/admin/servicos/acaoCadastrar" method="POST">
            <label for="">Nome:</label>
            <input type="text" name="nome" id="nome">
            <label for="">Preco:</label>
            <input type="text" name="preco" id="preco">
            <label for="">Descricao:</label>
            <input type="text" name="descricao" id="descricao">

            <button>Cadastrar</button>
        </form>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>