<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main class="admin">
                <div class="container">
                    <h1>Painel Administrativo</h1>

                    <form action="/admin/servicos/acaoCadastrar" method="POST" class="cadastroServico" enctype="multipart/form-data">
                        <fieldset>
                            <legend>Novo Serviço</legend>

                            <div>
                                <label for="nome">Nome:</label>
                                <input type="text" name="nome" id="nome" required>
                            </div>

                            <div>
                                <label for="preco">Preco:</label>
                                <input type="text" name="preco" id="preco" required>
                            </div>

                            <div>
                                <label for="imagem">Imagem:</label>
                                <input type="file" name="imagemServico"  required>
                            </div>

                            <div>
                                <label for="descricao">Descricao:</label>
                                <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>
                            </div>

                            <button class="btn-cadastroServico">Cadastrar</button>
                        </fieldset>
                    </form>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>