<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main class="admin">
                <div class="container">
                    <h1>Painel Administrativo</h1>

                    <form action="/admin/usuarios/acaoCadastrar" method="POST" class="cadastroServico">
                        <fieldset>
                            <legend>Novo Usuário</legend>
                            <div>
                                <label for="nome">Nome:</label>
                                <input type="text" name="nome" id="nome" required>
                            </div>
                            <div>
                                <label for="login">Login:</label>
                                <input type="text" name="login" id="login" required>
                            </div>
                            <div>
                                <label for="senha">Senha:</label>
                                <input type="password" name="senha" id="senha" required>
                            </div>
                            <button class="btn-cadastroServico">Cadastrar</button>
                        </fieldset>
                    </form>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>